.continent {
	list-style:none;
	margin: 0;
	padding: 40px;
	background: #60A7CD; /*colour of title block*/
	
	display: flex;
	
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.continent a {
	text-direction: none;
	display: block;
	padding: 1.5em;
	color: #F0F8FF; /*text colour*/
	font-family: "Monaco", Monospace;
	position: static;
}


.continent a:hover {
	background: darken(#9dd9d2, 2%);
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content: center;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		flex-flow: column wrap;
		padding: 0;
	}
	
	.navigation a {
		text-align: center;
		padding: 10xp;
		border-top: 1xp solid rgba(255,255,255,0.3);
		border-bottom: 1xp solid rgba(0,0,0,0.1);
	}
	

}
.flex-container {
	padding: 10px;
	margin: 10;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
} 

.flex-item {
	background: black;
	padding: 10px;
	width: 150px;
	height: 100px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	
	line-height: 150px;
	color: #007cbe;
	font-size: 20px;
	text-align: center;
}
